<web-app
xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
version="5.0"
>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>GetAll</servlet-name>
        <servlet-class>servlet.GetAllStudentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAll</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exel</servlet-name>
        <servlet-class>servlet.GetExcellentStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exel</servlet-name>
        <url-pattern>/exel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>blockchain</servlet-name>
        <servlet-class>servlet.GetWithBlockChainStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blockchain</servlet-name>
        <url-pattern>/bc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>servlet.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!--    <filter>-->
    <!--        <filter-name>logFilter</filter-name>-->
    <!--        <filter-class>servlet.LogFilter</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>logFilter</filter-name>-->
    <!--        <url-pattern>/*</url-pattern>-->
    <!--    </filter-mapping>-->

    <!--    <error-page>-->
    <!--        <error-code>404</error-code>-->
    <!--        <location>/error/PageNotFound.jsp</location>-->
    <!--    </error-page>-->
</web-app>